<h1> Should I take my umbrella? </h1>

<dl>
  <dt>User location</dt>
  <dd><%= @local %></dd>
  <dt>Latitude</dt>
  <dd><%= @latitude %></dd>
  <dt>Longitude</dt>
  <dd><%= @longitude %></dd>
  <dt>Current tempurature</dt>
  <dd><%= @the_temp %></dd>
  <dt>Current summary</dt>
  <dd><%= @weather_summary %></dd>
  <dt>Umbrella?</dt>
  <dd><%= @result %></dd>
</dl>
